body {
    background: linear-gradient(100deg, rgb(40, 40, 40), rgb(20, 20, 20));
}

.g {
    font-family: monospace;
    font-size: 200%;
    color: rgb(190, 190, 190);
    -webkit-animation: fadein 4s;
    -moz-animation: fadein 4s;
     -ms-animation: fadein 4s;
      -o-animation: fadein 4s;
         animation: fadein 4s;
}

.container{
    display: inline-block;
    font-family: monospace;
    font-size: 500%;
    color: rgb(190, 190, 190);
}

.a{
    display: inline-block;
    font-family: monospace;
    font-size: 300%;
    color: rgb(190, 190, 190);
}

.links {
    font-family: monospace;
    font-size: 75%;
    color: rgb(190, 190, 190);
}

.s {
    color: rgb(190, 190, 190);
    background-color: transparent;
    text-decoration: none;
}

.s:hover {
    color: rgb(150, 150, 150);
    background-color: transparent;
    text-decoration: none;
}

.typed-out{
    overflow: hidden;
    white-space: nowrap;
    animation: 
      typing 1s forwards;
    width: 0;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

.p {
    font-family: monospace;
    font-size: 200%;
    color: rgb(190, 190, 190);
    -webkit-animation: fadein 4s;
       -moz-animation: fadein 4s;
        -ms-animation: fadein 4s;
         -o-animation: fadein 4s;
            animation: fadein 4s;
}

img {
    border-radius: 8px;
    size: 150%;
    -webkit-animation: fadein 4s;
    -moz-animation: fadein 4s;
     -ms-animation: fadein 4s;
      -o-animation: fadein 4s;
         animation: fadein 4s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

footer {
    font-family: monospace;
    font-size: 120%;
    color: rgb(190, 190, 190);
    position:fixed;
    bottom:0;
}
  
.progress {
    background: rgba(255,255,255,0.1);
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding: 0 5px;
    display: flex;
    height: 30px;
    width: 500px;
}
  
.progress-value1 {
    animation: load1 1s normal forwards;
    background: rgb(190, 190, 190);
    height: 20px;
    width: 0;
}
  
  @keyframes load1 {
    0% { width: 0; }
    100% { width: 70%; }
}

.progress-value2 {
    animation: load2 1s normal forwards;
    background: rgb(190, 190, 190);
    height: 20px;
    width: 0;
}
  
  @keyframes load2 {
    0% { width: 0; }
    100% { width: 50%; }
}